#u_inf_title{

	font-size:24;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	font-family:"Arial Black", Gadget, sans-serif;
}
#u_inf_date{

	font-size:11;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	font-family:;
}
